body{
  margin: 0 auto;
}

.header{
  background-color: #be3144;
  position: fixed;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: flex-end;
}

.ul,
.a,
.li{
  text-decoration: none;
  gap: 25px;
  padding: 2px;
  padding-right: 8px;
  text-align: right;
  font-size: 20px;
  display: flex;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

/* about */
#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color:#000;
  background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
  color: #fff;
  font-size: xx-large;
  line-height: 1px;
}

h1{
font-size:70px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  color: #be3144;
  font-family: 'Courier New', Courier, monospace;
}

/* work */
h2{
  font-size: 50px;
  color: #fff;
}

hr{
  margin-top:-30px ;
  max-width: 0 auto 0 auto;
  width: 600px;
  justify-items: center;
}

#work{
  background-color: #45567d;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.figure{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure{
  margin: 10px 10px 10px 10px;
}

figcaption{
  background-color: #181719;
  margin-top: -6px;
  padding: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.a1{
  text-decoration: none;
}
button{
  background-color:  #181719;
  padding: 12px;
  color: #fff;
  font-size: 20px;
}

img{
  width: 390px;
  height: 370px;
  object-fit: cover;
}
