body {
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.nav {
  background-color: #be3144;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
}

.ul,
.a,
.li {
  text-decoration: none;
  gap: 25px;
  padding: 2px;
  padding-right: 8px;
  text-align: right;
  font-size: 20px;
  display: flex;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

/* about */
#about {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: xx-large;
  line-height: 1px;
  top: 0;
  left: 0;
}

h1 {
  font-size: 3rem;
  font-family: lobster;
}

.p-about {
  color: #be3144;
  font-family: "roboto";
}

/* work */
h2 {
  font-size: 50px;
  color: #fff;
}

.hr-project {
  display: flex;
  margin-top: -30px;
  max-width: 0 auto 0 auto;
  width: 600px;
  justify-items: center;
  margin-bottom: 100px;
}

#project {
  background-color: #45567d;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

figure {
  margin: 10px;
}

figcaption {
  background-color: #181719;
  margin-top: -6px;
  padding: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.a1 {
  text-decoration: none;
}

.button {
  background-color: #181719;
  padding-top: 9px;
  color: #fff;
  border-collapse: collapse;
  font-size: 20px;
  margin-bottom: 100px;
}

img {
  width: 390px;
  height: 370px;
  object-fit: cover;
}

/* contact */
#contact {
  background-color: #303841;
  color: #fff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h3 {
  font-size: 3rem;
  line-height: 1px;
}

.footer {
  padding-bottom: 50px;
}

.footer-para {
  font-size: 15px;
  line-height: 10px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  font-size: 30px;
}

.hr-footer {
  margin-top: -30px;
  display: flex;
  width: 100%;
  border: 1px solid #be3144;
}

.footer-footer {
  background-color: #303841;
  color: #fff;
  justify-content: space-evenly;
}

.end-footer {
  display: flex;
  justify-content: space-evenly;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
